.app
{
	margin: auto;
	width: 80%;
	height: auto;
	border: 5px solid red;
	padding: 15px;
}

#addNew
{
	display: flex;
	background-color: aqua;
}

#addNew button
{
	margin:  auto;
	width: 250px;
	height: 60px;
}

#notes
{
	display: grid;
	gap: 15px;
}

#notes div
{
	background-color: bisque;
	border: 3px solid aqua;
	padding: 5px;
	display: grid;
	gap: 5px;
	border-radius: 10px;
	width: 45%;
	margin: auto;
}

.options
{
	justify-self: center;
	display: flex;
	gap: 15px;
}

.options button
{
	cursor: pointer;
}

#msg 
{
	color: red;
}